server {
    listen 80;
    listen 443 ssl;

    server_name 10.247.1.10;
    server_name localhost;

    ssl_certificate /etc/nginx/cert.pem;
    ssl_certificate_key /etc/nginx/key.pem;

    location / {
        proxy_pass http://localhost:8080;
        proxy_set_header Host $host;
    }
}

server {
    listen 80;
    listen 443 ssl;

    server_name yggdrasil.test.westtel.com;

    {% if main_cert.stat.exists %}
    ssl_certificate /etc/letsencrypt/live/main/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/main/privkey.pem;
    {% endif %}

    location / {
        proxy_pass http://localhost:8080;
        proxy_set_header Host $host;
    }
}
